@mixin transition($defs...) {
  -webkit-transition: $defs;
  -moz-transition: $defs;
  -ms-transition: $defs;
  -o-transition: $defs;
  transition: $defs;
}

@mixin boxsizing($defs...){
  -webkit-box-sizing: $defs;
  -moz-box-sizing: $defs;
  -ms-box-sizing: $defs;
  -o-box-sizing: $defs;
  box-sizing: $defs;
}

@mixin borderradius($defs...){
  -webkit-border-radius: $defs;
  -moz-border-radius: $defs;
  -ms-border-radius: $defs;
  -o-border-radius: $defs;
  -border-radius: $defs;
}
