/*COLOR PALETTE*/

$co-slight-shadow: rgba(0,0,0,.3); //eg: canvas box shadow

$co-solid-trim-bg: #000; //eg: canvas buttons background
$co-solid-trim-fg: #fff; //eg: canvas buttons foreground
$co-solid-trim-hl: rgb(0,99,195); //eg: canvas button hover highlight

/*FONTS*/

$body-font-size: 1rem;
